{% extends 'layout_admin.html.twig' %}
{% block stylesheet %}
<link rel="stylesheet" href="/assets/css/admin.css">
{% endblock %}

{% block content %}
	<header class="header">
		<div class="m-5">
			<h1>Administration</h1>
		</div>
	</header>
	<p>Bienvenue sur la page admin</p>
{% endblock %}
